.HeaderStyle{
    background-color:#1C5E55;
    color:white;
    
}

.EditRowStyle
{
    background-color:#7C6F57;
}

.FooterStyle
{
    background-color:#1C5E55;
}

.AlternatingRowStyle
{
    background-color:white;
}

.RowStyle{
    background-color:#E3EAEB;
}

.Botones{
    color:white;
    background-color:blue;
    width:100px;
    height:25px;
}

<<<<<<< HEAD
 
     @media screen and (max-width:600px){
  
    
   
 }

.cuadro-editar{
     width:auto; 
     display: table; 
     vertical-align: middle; 
     border:1px solid rgba(237,237,237,1) ;
     background: rgba(246,246,246,1) 47% ;
 }
 
 


.Iconabm {
    Width: 35px;
    Height: 35px;
}

=======
.Iconabm {
    Width: 35px;
    Height: 35px;
}
>>>>>>> 63c6fddaf33cc870ad542c19de4e6c463088235b
