.DivCentrado{
    display : block ;
    height:150px;
    width:300px;
    margin-left :auto ;
    margin-right:auto ;
    margin-top :auto ;
    margin-bottom:auto ;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.DivEncabezado{
    
    background-color:red ;
    height:50px;
    width:300px;
    margin-left :auto ;
    margin-right:auto ;
    margin-top :auto ;
    margin-bottom:auto ;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column ;
    text-align: center;
    font-size:1.5em ;
    color:white;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.DivDetalle{
    display : block ;
    background-color: white ;
    height:170px;
    width:300px;
    margin-left :auto ;
    margin-right:auto ;
    margin-top :auto ;
    margin-bottom:auto ;
    align-content: center;
     font-size:1.5em ;
     font-family: 'Arial Narrow', Arial, sans-serif;
}

*{
 padding :0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.nav {
font-family:sans-serif;
list-style:none;
text-decoration:none ;
margin:5px;
padding:0;
}

.nav > li {
float:left;
}

.nav li a {
background:#3a4f63;
color:#FFF;
display: block ;
text-decoration:none;
padding:10px 10px;
}

.nav li a:hover {
background:#0fbfc6;
}
.HeaderStyle{
    background-color:blue;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color:white;
    height:25px;
}

.FooterStyle{
    background-color:gray;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

    


.Label{
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.nav li ul {
display:none;
position: absolute ;
min-width:140px;
}

.nav li:hover > ul {
display:block;
}

.nav li ul li {
position:relative;
}

.nav li ul li ul {
right:-0px;
top:0;
}
.Fuente{
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}


/* DEFAULTS
----------------------------------------------------------*/

.HeaderStyle{
    background-color:blue;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color:white;
}
.Label{
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.Fuente{
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration:none ;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    height:650px;
    background-color: white;
    margin: 0px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
    height: 100px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    background-color:white;
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 500px;
    height:500px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
    min-height:40px;
}

div.menu
{
    padding: 0px 0px 0px 0px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
    height:50px;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
    height:35px;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.Navegacion{
    width :1000px;
    margin :30 px auto ;
    background :#fff;
}

.Navegacion ul {
    list-style :none ;
}

.Menu > li{
    display :inline-block ;
    padding: 15px 20px;
    color :#353535;
    text-decoration :none ;
}

.Menu li a:hover {
    color :#CF7035;
    transition : all .3s;
}

.SubMenu 
{
    position :absolute ;
    background :#333333;
    width :130px;
    display :none ;
    visibility :hidden ;
    opacity :0;
    transition :opacity 1.5s;
}

.SubMenu li a {
    display :block ;
    
    padding : 15px;
    color :#fff;
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-decoration :none ;
}

.Menu li a:hover .SubMenu 
{
   visibility :visible ;
   opacity :1;
}

.DivTitulo
{
    background-color :orange;}
    
.container{
   border: 1px solid #7e7c7c; 
}
